.order-container {
    border: 5px solid;
    border-radius: 10px;
    background-color: #f9f9f9; /* Light background color */
    padding: 20px;
    margin: 20px;
  }

  .order-container h2 {
    text-align: center;
    margin-bottom: 20px;
    word-break: break-all;
  }