<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Email</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .error-message {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Password Reset</h2>

        <% if (typeof msg!=='undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= msg %>
            </div>
            <% } %>

        <form method="POST" action="/api/users/reset-password" onsubmit="return validateForm(event)">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <input type="hidden" name="id" value="<%= id %>">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>

            <button type="submit" class="btn btn-primary">Reset</button>

            <div class="alert alert-danger mt-3 error-message" id="errorMessage" role="alert">
                Passwords do not match!
            </div>
        </form>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function validateForm(event) {
            event.preventDefault();

            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var errorMessage = document.getElementById("errorMessage");

            if (password !== confirmPassword) {
                errorMessage.style.display = "block";
                return false;
            }

            // If passwords match, you can perform further actions like submitting the form
            // Uncomment the line below to submit the form
            document.forms[0].submit();

            return true;
        }
    </script>
</body>
</html>
