.homeHeading{
    color: white;
    font-size: 5rem;
    margin-right: 80%;
    word-break: break-all;
    
}
.buttonContainer {
    margin-top: 100px;
    
  }
.orderNow{
    margin-left: 35px;
    font-size: 5rem;
    background-color: white!important;
    color: red !important;
    font-weight: bolder!important;
}