.cart-table {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white !important;
    border-radius: 20px;
    overflow: scroll;
}

  
.cart-table td,tr {
    font-size: 1.5rem;
  }