.profile-img-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.profile-extras{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.profile-name{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.profile-contact{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}


.nav-custom-color{
    /* background-color: transparent; */
    color: bisque !important;
}

.offcanvas-background{
    background-color:  #00cdac !important;
    color:azure!important;
}
.link-custom-color{
    color:azure !important;
}

/* .navInput{
    border: none;
    outline: none;
    caret-color: transparent;
    max-width:fit-content
} */